<main class="px-sm-5 px-4 py-5">
    <section class="view" *ngIf="!form">
        <h3>{{role == 2 ? 'Estudiante' : 'Usuarios'}}</h3>
        <div class="text-end mb-2" *ngIf="role != 2">
            <button class="btn btn-1" [routerLink]="[]" [queryParams]="{form: 'create'}">Nuevo usuario</button>
        </div>
        <!-- Añadir el campo de búsqueda aquí -->
        <div class="mb-3 d-flex">
            <input type="text" class="form-control" placeholder="Buscar usuario..." [(ngModel)]="search">
            <button class="btn btn-primary ms-2" (click)="onSearch()">Buscar</button>
        </div>

        <div class="table-responsive">
            <table class="table align-middle text-center">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre de usuario</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users, let i = index">
                        <td>{{item.name}} {{item?.lastname}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item?.phone}}</td>
                        <td><small class="text-white rounded-pill py-1 px-2 {{item.active ? 'active' : 'unactive'}}"></small></td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <button class="btn btn-1" [routerLink]="[]" [queryParams]="{form: i}">Ver</button>
                                <button class="btn btn-danger" (click)="delete(item.id, i)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination
            [(page)]="page"
            [collectionSize]="totalItems"
            (pageChange)="onPageChange($event)"
            [pageSize]="pageSize"
            [maxSize]="15"
            [boundaryLinks]="true"
            [ellipses]="true"
            >
        </ngb-pagination>
    </section>
    <section class="view" *ngIf="form">
        <h3 class="mb-3">{{form != 'create' ? 'Informacion de '+[role == 2 ? 'estudiante' : 'usuario'] : 'Nuevo '+[role == 2 ? 'estudiante' : 'usuario']}}</h3>
        <form class="row g-4" [formGroup]="formUser">
            <div class="text-center mx-auto mx-sm-0" style="width: 170px;">
                <input type="file" (change)="addImg($event)" accept="image/*" id="newImg" hidden>
                <label for="newImg" class="rounded-circle border" role="button">
                    <img class="rounded-circle" width="100px" src="assets/img/imgPlacehoder.png" style="object-fit: cover;" height="100px" id="img">
                </label>
                <label class="mt-2 color-1 fw-500">Imagen de perfil</label>
            </div>
            <div class="col-xl-5 col-lg-7 col-md-8 col-sm">
                <div class="form-floating">
                    <input class="form-control" formControlName="name" type="text" placeholder=" ">
                    <small class="text-danger" *ngIf="formUser.controls['name'].touched && formUser.controls['name'].errors?.required">El nombre es requerido</small>
                    <label>Nombre</label>
                </div>
            </div>
            <div class="col-xl-5 col-md-6">
                <div class="form-floating">
                    <input class="form-control" formControlName="lastname" type="text" placeholder=" ">
                    <small class="text-danger" *ngIf="formUser.controls['lastname'].touched && formUser.controls['lastname'].errors?.required">El apellido es requerido</small>
                    <label>Apellido</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="form-floating">
                    <input class="form-control" formControlName="username" type="text" placeholder=" ">
                    <small class="text-danger" *ngIf="formUser.controls['username'].touched && formUser.controls['username'].errors?.required">El nombre de usuario es requerido</small>
                    <label>Nombre de usuario</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" formControlName="email" placeholder=" ">
                    <small class="text-danger" *ngIf="formUser.controls['email'].touched && formUser.controls['email'].errors?.required">El correo es requerido</small>
                    <small class="text-danger" *ngIf="formUser.controls['email'].errors?.pattern">El email no es valido</small>
                    <label>Correo</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="form-floating">
                    <input class="form-control" type="number" formControlName="phone" placeholder=" ">
                    <small class="text-danger" *ngIf="formUser.controls['phone'].touched && formUser.controls['phone'].errors?.required">El telefono es requerido</small>
                    <label>Telefono</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" *ngIf="role == 2 && userId">
                <div class="form-floating">
                    <select class="form-select" formControlName="career_id">
                        <option *ngFor="let item of careers" [value]="item.id">{{item.name}}</option>
                    </select>
                    <small class="text-danger" *ngIf="formUser.controls['career_id'].touched && formUser.controls['career_id'].errors?.required">La carrera es requerida</small>
                    <label>Carrera</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" *ngIf="role == 2 && userId">
                <div class="form-floating">
                    <select class="form-select" formControlName="active">
                        <option [value]="1">Activo</option>
                        <option [value]="0">Inactivo</option>
                    </select>
                    <small class="text-danger" *ngIf="formUser.controls['active'].touched && formUser.controls['active'].errors?.required">El estado es requerido</small>
                    <label>Estado</label>
                </div>
            </div>
            <div *ngIf="role == 2 && userId">
                <h5>Enlaces</h5>
            </div>
            <div class="col-xl-4 col-md-6 m-0" *ngIf="role == 2 && userId">
                <div class="form-floating">
                    <input class="form-control" type="url" formControlName="instagram" placeholder=" ">
                    <label>Instagram</label>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 m-md-0" *ngIf="role == 2 && userId">
                <div class="form-floating">
                    <input class="form-control" type="url" formControlName="web" placeholder=" ">
                    <label>Sitio web</label>
                </div>
            </div>
            <div *ngIf="form != 'create'">
                <label class="labelPass fw-500 collapsed mb-2" type="button" (click)="changePass()" data-bs-toggle="collapse" data-bs-target="#collPass" aria-expanded="false" aria-controls="collapseExample"></label>
            </div>
            <div class="col-xl-4 col-md-6" [ngClass]="{'m-0' : userId}">
                <div [ngClass]="{'collapse' : form != 'create'}" id="collPass">
                    <div class="form-floating">
                        <input class="form-control" formControlName="password" type="password" placeholder=" ">
                        <small class="text-danger" *ngIf="formUser.controls['password'].touched && formUser.controls['password'].errors?.required">La contraseña es requerida</small>
                        <small class="text-danger" *ngIf="formUser.controls['password'].hasError('maxlength') || formUser.controls['password'].hasError('minlength')">debe tener entre 4 y 30 caracterres</small>
                        <label>Contraseña {{userId && 'actual'}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 m-md-0" *ngIf="userId">
                <div [ngClass]="{'collapse' : form != 'create'}" id="collPass">
                    <div class="form-floating">
                        <input class="form-control" formControlName="newpassword" type="password" placeholder=" ">
                        <small class="text-danger" *ngIf="formUser.controls['newpassword'].touched && formUser.controls['newpassword'].errors?.required">La nueva contraseña es requerida</small>
                        <label>Nueva contraseña</label>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-1" (click)="createOrEdit(formUser.value, userId)">Guardar</button>
            </div>
        </form>
    </section>
</main>